@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); 
/*&family=Poppins:wght@200;300;500*/
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/log-in.css";
@import "screens/friends.css";
@import "screens/find.css";


body{
    font-family: 'Open Sans', sans-serif;
}
/* font-family: 'Poppins', sans-serif;*/
