.nav{
    background-color: #f9f9fa;
    padding: 25px 50px;
    position:fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    
}

.nav__btn{
    position: relative;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-3px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}

.nav__notification{    
    position: absolute;
    left: 12px;
    bottom: 10px;
    animation: notificationAnimation 2s ease-in-out infinite;
}


.nav__red-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: rgb(247, 77, 47);
    position: absolute;
    left: 21px;
    bottom: 16px;
}